.videoSection{
    width: 100%;
    position: relative;
}
.favoritesDiv{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
}

.favoritesDivMask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.7;
}
.favoritesContent{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20% 16px;
    width: 100%;
}
.favoritesContent > p {
    color: #ffffff;
    text-align: center;
}
.lessionDesc{
    padding: 16px;
}
.lessionDesc >p:first-child{
    line-height: 0.44rem;
    font-size: 0.26rem;
    font-weight: bold;
}
.lessionDesc >p:last-child{
    line-height: 0.32rem;
    font-size: 0.24rem;
    font-weight: lighter;
}
.videoMask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
}
.videoMask > div:first-child{
    position: absolute;
    z-index: 9000;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background: #000;
    opacity: 0.8;
}
.videoPlay{
    display: inline-block;
    z-index: 9999;
    position: absolute;
    height: 2rem;
    margin: auto !important;
    top: -1rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.16rem;
    color: #ffffff;
}
.videoPlay > h3{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.30rem;
    color: #FFF57E;
}
.videoPlay > p{
    line-height: 0.8rem;
    font-size: 0.26rem;
    color: #ffffff;
    text-align: center;
}
.videoPlay > p > span{
    line-height: 0.48rem;
    font-size: 0.24rem;
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
    padding: 0.08rem 0.32rem;
    border: 1px solid #ffffff;
}
.score{
    position:absolute;
    height: 1.2rem;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.lessionLength{
    height: 1.2rem;
    width: 50%;
    float: left;
    padding: 0.2rem;
}
.lessionLength > p{
    color: #ffffff;
    line-height: 0.4rem;
    font-size: 0.24rem;
}
.myScore{
    height: 1.2rem;
    width: 50%;
    float: left;
    z-index: 9999;
    padding: 0.1rem 0.2rem;
}
.myScore > p:first-child{
    line-height: 0.6rem;
    font-size: 0.52rem;
    text-align: right;
    color: #ffffff;
}
.myScore > p:first-child >span{
    font-size: 0.24rem;
    color: #ffffff;
}
.myScore > p:last-child{
    line-height: 0.3rem;
    font-size: 0.20rem;
    text-align: right;
    color: #ffffff;
}