.videoSection{
    width: 100%;
    position: relative;
}
.favoritesDiv{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
}

.favoritesDivMask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.7;
}
.favoritesContent{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20% 16px;
    width: 100%;
}
.favoritesContent > p {
    color: #ffffff;
    text-align: center;
}
.lessionDesc{
    padding: 16px;
}
.lessionDesc >p:first-child{
    line-height: 0.44rem;
    font-size: 0.26rem;
    font-weight: bold;
}
.lessionDesc >p:last-child{
    line-height: 0.32rem;
    font-size: 0.24rem;
    font-weight: lighter;
}