.headStat{
    width: 100%;
    height: 150px;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.headStat:first-child{
    border-right: 1px solid #4d4d4d;
}
.headStatCell {
    height: 150px;
    padding: 32px 32px;
    width: 50%;
    float: left;
}
.headStatCell >p {
    text-align: center;
    height: 32px;
    color: #4d4d4d;
    font-size: 24px;
}
.headStatCell >p>span {
    font-size: 36px;
    color: #00AD1B;
}
.lessonCell{
    padding: 16px 16px 16px 216px;
    height: 272px;
}
.lessonCell > img{
    position: relative;
    margin-left: -200px !important;
    width: 200px;
    height: 240px;
    float: left;
}
.cardTitle{
    height: 64px;
    padding: 8px 16px;
    border-bottom: 1px solid #f0f0f0;
}
.lessonStat{
    width:100%;
    float: left;
    padding: 0 16px;
}
.lessonStat > p{
    line-height: 44px;
    font-size: 26px;
}
.linkInit{
    text-decoration: none;
    color: inherit;
}