
*{
  box-sizing: border-box;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
}
:global(#root){
  height: 100%;
}
:global(body){
  background-color: #ffffff !important;
}
:global(.am-flexbox){
  display: flex;
}
:global(.divider){
  height: 30px;
  background: #E8E8E8;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
:global(.p_title){
  line-height: 60px;
  padding: 8px 16px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 28px;
}
:global(.linkInit){
    text-decoration: none;
    color: inherit;
}
:global(.am-list-content){
    font-size: 0.26rem !important;
}
:global(.am-list-extra){
    font-size: 0.26rem !important;
}
:global(.am-input-label-5){
    width: 0.8rem !important;
}
:global(input){
    font-size: 0.26rem !important;
}
:global(.am-input-extra){
    overflow: visible !important;
}
:global(textarea){
    font-size: 0.26rem !important;
}